{% extends "base_v1.html" %}
{% load cms_tags %}

{% block head %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
  <div class="py-5 mt-3" style="">
    <div class="container">
      <div class="row flex-lg-row flex-column-reverse d-inline-flex justify-content-center align-items-center" style="">
        <div class="px-md-5 col-lg-6 col-12 col-sm-12 col-md-10" style="">
          <h1 class="pb-2">Привет!&nbsp;<br>Я бесплатный онлайн-календарь для записи клиентов</h1>
          <p class="mb-3 lead">Клиенты смогут записаться на&nbsp;ваши услуги через ссылку в&nbsp;инстаграм профиле или через другие соцсети в&nbsp;любое время</p><a class="btn btn-outline-primary btn-lg as-btn" href="#" id="btn-as-first" data-toggle="modal" data-target="#mdl-as"></a>
        </div>
        <div class="col-lg-6 col-sm-8 col-12 col-md-10" style=""> <img class="d-block img-fluid pb-5" src="/static/img/common/img-hero-image-background@2x.png"> </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-4">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8" style=""> <img class="d-block img-fluid mx-auto" src="/static/img/common/img-header-1.svg">
          <h1 class="">Заварите кофе, я&nbsp;расскажу как всё работает</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 pb-4 justify-content-center flex-column d-flex col-lg-7" style="">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <h3 class="display-1 text-left
font-weight-bold">1</h3>
            </div>
            <div class="col-md-12 col-lg-9">
              <h2 class="pt-3">Настройте приложение</h2>
              <p class="mb-3 lead" style="">Добавьте своё расписание, услуги и&nbsp;приветствие</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5"> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-screen-1@2x.png" width="400"> </div>
      </div>
    </div>
  </div>
  <div class="py-4" style="">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center pb-4 col-lg-7" style="">
          <div class="row">
            <div class="col-md-12 col-lg-3" style="">
              <h1 class="text-left font-weight-bold display-1">2</h1>
            </div>
            <div class="col-md-12 col-lg-9" style="">
              <h2 class="pt-3">Сайт для онлайн-записи готов </h2>
              <p class="mb-3 lead" style="">Вы можете его посмотреть по&nbsp;ссылке или&nbsp;в&nbsp;приложении</p><a class="btn btn-lg btn-primary text-secondary round-button round-btn" href="http://weekl-app.com:8000/checkin/calendar/c72e8d9a-1ef4-4af1-9d9c-e2bf1cca2437/" target="_blank">Посмотреть пример</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5"> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-screen-2@2x.png" style="" width="400"> </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center pb-4 col-lg-7" style="">
          <div class="row">
            <div class="col-lg-3 col-md-12" style="">
              <h1 class="display-1 text-left
font-weight-bold">3</h1>
            </div>
            <div class="col-md-12 col-lg-9" style="">
              <h2 class="pt-3">Разместите ссылку</h2>
              <p class="mb-3 lead" style="">В&nbsp;инстаграм, другой социальной сети или на&nbsp;вашем сайте</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5"> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-screen-3@2x.png" width="400"> </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center pb-4 col-lg-7" style="">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <h1 class="display-1 text-left
font-weight-bold">4</h1>
            </div>
            <div class="col-md-12 col-lg-9" style="">
              <h2 class="pt-3">Клиенты запишутся по&nbsp;ссылке</h2>
              <p class="mb-3 lead" style="">Вы&nbsp;увидите записи в&nbsp;самом приложении</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5"> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-screen-4@2x.png" width="400"> </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8" style=""> <img class="d-block img-fluid mx-auto" src="/static/img/common/img-header-2.svg">
          <h1 class="">Почему я буду вам полезен</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-3 col-12" style=""> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-walkthrough-slide-1.svg">
          <h2 class="my-3 text-center">Увеличу продажи</h2>
          <p class="text-center">Поделитесь ссылкой в&nbsp;инстаграме, соцсетях, на&nbsp;веб-сайтах, досках объявлений и&nbsp;получите прирост клиентов</p>
        </div>
        <div class="col-md-4 p-3 col-12" style=""> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-walkthrough-slide-2.svg">
          <h2 class="my-3 text-center">Сэкономлю время</h2>
          <p class="text-center">Клиенты сами смогут записываться на&nbsp;услуги и&nbsp;лишний раз не&nbsp;будут уточнять стоимость и&nbsp;время</p>
        </div>
        <div class="col-md-4 p-3 col-12" style=""> <img class="img-fluid d-block mx-auto" src="/static/img/common/img-walkthrough-slide-3.svg">
          <h2 class="my-3 text-center">Развяжу руки</h2>
          <p class="text-center">Всё в&nbsp;телефоне. Больше не&nbsp;нужен компьютер и&nbsp;записная книжка</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row d-flex justify-content-center pt-5
align-items-center">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4" style=""> <img class="img-fluid d-block mx-auto pt-5 align-items-center flex-grow-0" src="/static/img/common/img-photo-left@2x.png">
        </div>
        <div class="p-3 col-12 col-sm-8 col-md-8 col-lg-4 d-flex flex-column align-items-center justify-content-center" style="">
          <img class="d-block img-fluid mx-auto" src="/static/img/common/img-header-3.svg">
          <h1 class="my-3 text-center pb-2">Я&nbsp;сделан для</h1>
          <p class="lead text-center">творческих личностей</p>
          <p class="lead text-center">тех кто меняет правила игры</p>
          <p class="lead text-center">кто создаёт тренды</p>
          <p class="lead text-center">кто добивается результатов </p>
          <p class="lead text-center">кто хочет стать лидером</p>
          <p class="lead pb-5 text-center">для вас</p>
          <p style="" class="text-center">Начните принемать заказы от&nbsp;клиентов уже сейчас</p><a class="btn btn-outline-primary btn-lg as-btn mx-auto text-center" href="#" id="btn-as-second" data-toggle="modal" data-target="#mdl-as"></a>
        </div>
        <div class="d-none d-lg-block col-md-3 col-12 col-sm-12 col-lg-4" style=""> <img class="img-fluid d-block mx-auto pt-5" src="/static/img/common/img-photo-right@2x.png">
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2020 Weekl</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal sbscr-modal" id="mdl-as" style="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-as sbscr-modal-header">
          <button type="button" class="close close-btn" data-dismiss="modal"><img class="img-fluid d-block mx-auto" src="/static/img/common/ic-cross.svg"></button>
        </div>
        <div class="modal-body d-flex flex-column sbscr-modal-body">
          <img class="d-block img-fluid mx-auto" src="/static/img/common/img-backend-error.svg">
          <h3 class="text-center text-light mt-3 mb-2">Приложение ещё не готово</h3>
          <p class="text-center text-light pb-2" style="">Возникли вопросы? Пишите нам.</p>
          <a class="btn btn-link text-dark" href="mailto:question@weekl-app.com?subject=Вопрос по Weekl&amp;body=Привет команда Weekl! Меня зовут [Ваше имя].">question@weekl-app.com</a>
        </div>
        <div class="modal-footer d-flex justify-content-center sbscr-modal-footer pb-5" style=""> </div>
      </div>
    </div>
  </div>
{% endblock content %}